.reserveButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 5px;
    background-color: #26A69A;
    color: white; 
    border: 3px solid #26A69A;
    padding: 8px;
    box-shadow: 2px 2px 5px grey;
}

.reserveButton:hover, .reserveButton:active {
    background-color: #038578;
}